{% extends "TestApp/AdminFront/baseAdmin.html" %}

{% load static %}

{% block title %}Edición de Contacto{% endblock %}
{% block content %}


<body>
    <center>
    <h1>
        Edición de la pestaña de Contacto
    </h1>
    {% if form.errors %}
        <p>Debe completar todos los campos correctamente.</p>
    {% else %}
        <p>Ingrese los cambios a los campos que se mostrarán en la pestaña de Contacto:</p>
    {% endif %}

    <form action="/contactoAdmin/" method="POST">
        {{ form.as_ul }}
        {% csrf_token %}
        <input type="submit" value="Confirmar cambios">
    </form>
    </center>
</body>

{% endblock %}