{% extends "TestApp/AdminFront/baseAdmin.html" %}
{% load static %}

{% block title %}Creación de una iteración{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h1 class="row">
                Creación de una nueva iteración
            </h1>
            {% if form.errors %}
                <p class="row">Debe completar todos los campos correctamente.</p>
            {% else %}
                <p class="row">Ingrese los datos de la nueva iteración:</p>
            {% endif %}

            <form action="{% url 'TestApp:Insertando Iteración' %}" method="POST" enctype="multipart/form-data" class="loginfrm">
                {% csrf_token %}
                <div class="form-group">Año del evento: <input type="number" name="year" required></div>
                <p>Cartel del evento(.jpg/.jpeg): <input type="file" accept=".jpg, .jpeg" name="cartel" required></p>
                <p>Plantilla para constancias(.jpg/.jpeg): <input type="file" accept=".jpg, .jpeg" name="plantilla_constancias" required></p>
                <p>Correo de comunicación: <input type="email" name="correo" required></p>
                <p>Contraseña del correo de comunicación: <input type="password" name="correo_contrasena" required></p>
                <p>Fecha del evento: <input type="date" name="date" required></p>
                <p>Lugar del evento: <input type="text" name="place" required></p>
                <input type="submit" value="Crear">
            </form>
        </div>
    </body>
{% endblock %}
