{% extends "TestApp/AdminFront/baseAdmin.html" %}

{% block title %}Iteraciones{% endblock %}

{% block content %}
<body>
    <center>
    <br/>
    <h1>Editando: Edición " {{ iteracion.year }} "</h1>
    <br/>

    {% if message %}
    <h2><strong> {{ message }} </strong></h2>
    {% endif %}

    <h3><form action="{% url 'TestApp:Crear una Iteración' %}" method="POST"> 
                                {% csrf_token %}
                                <button type="submit" name="createIter">Crear una nueva iteración</button> 
                        </form></h3>
    <br/>
    {% if iteracion_list %}
        <table>
            <caption>Iteraciones creadas</caption>
            {% for evento in iteracion_list %}
            <tr>
                <td> {{ evento.year }} </td>
                <td> <button type="button" name="Editar" >Editar</button> </td>
                <td> <form action="{% url 'TestApp:Borrando Iteracion' %}" method="POST"> 
                                {% csrf_token %}
                                <button type="submit" name="eliminar" value={{ evento.year }}>Eliminar</button> 
                        </form> 
				{% if evento.active %}
				<td> Evento activo! </td>
				{% else %}
                <td> <form action="{% url 'TestApp:Activar Iteracion' %}" method="POST"> 
						{% csrf_token %}
						<button type="submit" name="activar" value={{ evento.year }}>Activar evento</button> 
                    </form> 
                </td>
            	{% endif %}
            </tr>
			{% endfor %}
        </table>
    {% else %}
        No existen iteraciones guardadas de la RUIM para mostrar. Cree una iteración para mostrar datos.
    {% endif %}
    </center>
</body>
{% endblock %}
