<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Informe RUIM</title>
    </head>

    <body>
        <h1>
            {{ evento.nombre_evento }}
        </h1>
        <p>Informe final</p>
        <p>
            Se presentan las estadísticas relacionadas a las presentaciones 
            registradas a traves de la página de la RUIM para esta edición:
        </p>
        <p>Cantidad de solicitudes recibidas: {{ solicitudes }} </p>
        <p></p>
    </body>
</html>