{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}


  <center>
    <div class="container p-5" style="width: 40%; background-color: rgba(28, 72, 124); color: white; font-size: 100%; margin-top: 3cm; margin-bottom: 3cm;">
      <h3 style="font-size: 165%; color: white;"> Para cualquier duda o comentario, ponemos a su disposición  
        la siguiente dirección de correo electrónico: <br />
        <br />
        ruim@unison.mx <br /> </h3>
         
    
    </div>
  </center>
 {% endblock %}