{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}

 <div><p></p></div>

 <div class="container p-5 intro-text left-0 center-0 text-center bg-faded p-4 rounded" style="background-color: rgba(28, 72, 124); margin-top: auto; margin-bottom: 1cm; width: 85%;">

    <h2 style="color: white;">Ediciones anteriores del Congreso RUIM:<br /><br />
        <div class="intro-text left-0 text-left  p-4" style="font-weight: bold; color: white; font-size: 80%;">

        <li>
            <a href="http://www.ruim.uson.mx/anterior/index.php" target="_blank" style="color: white">RUIM 2019</a>
        </li> <br />

        <li>
            <a href="http://www.ruim.uson.mx/anterior/2018/index.php" target="_blank" style="color: white">RUIM 2018</a>
        </li> <br />

        <li >
            <a href="http://www.ruim.uson.mx/anterior/2018/2017/index.php" target="_blank" style="color: white">RUIM 2017 (Página deshabilitada)</a>
        </li> <br />
        </div>
    </h2> 

</div>
    

 {% endblock %}