{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}
 <div><p></p></div>


 <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <body>
    <center>
    <h1 style="color:white;"> 
        Solicitud para registro de ponencias
    </h1>
        <p style="color:white;"> Ingrese la información sobre su presentación:</p>


    <form action="{/insert/}" method="POST" class="loginfrm">
      {% csrf_token %}
      <div>
        <label>{{pform.presentacion_titulo.label}}</label>
        <input type = "text" name="presentacion_titulo" >
      </div><br>
      <div>
        {{pform.resp.label}}<br>
        <label>{{aform.nombre.label}} </label>
         <input type = "text" name="resp_name" >
      </div><br>
      <div>
        <label>{{aform.apellido_pat.label}} </label>
         <input type = "text" name="resp_ap" >
      </div><br>
        <div>
          <label>{{aform.apellido_mat.label}} </label>
           <input type = "text" name="resp_am" >
        </div><br>
        <div>
          <label>{{pform.institucion.label}} </label>
           <input type = "text" name="institucion" >
        </div><br>
        <div>
          <label>{{pform.departamento.label}} </label>
           <input type = "text" name="departamento" >
        </div><br>
        <div>
          <label>{{pform.modalidad.label}} </label>
          <input type = "radio" name = "modalidad" id = "cartel" value = "cartel" {% if captured_data.modalidad == "cartel" %} checked = checked {% endif %}>
          <label for = "cartel">Cartel</label><br>
          <input type = "radio" name = "modalidad" id = "ponencia" value = "ponencia" {% if captured_data.modalidad == "ponencia" %} checked = checked {% endif %}>
          <label for = "ponencia">Ponencia</label><br>
        </div><br>
        <div>
          <label>{{pform.resumen.label}} </label>
           <input type = "file" name="resumen" >
        </div><br>


             <!-- submit button -->
              <div class="form-group row">  
              <label class="col-sm-1 col-form-label"></label>  
              <div class="col-sm-4">  
              <button type="submit" class="btn btn-primary">Submit</button>  
            </div>  
          </div>  

        </div>  
    </form>
    </center>
  </body>


 {% endblock %}