{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}

 <div><p></p></div>

  <center>
    &nbsp;<br />
    <img alt="Póster del evento" src="{% static 'TestApp/img/poster.jpg'%}" /></a>
    <h3 style="font-size: 165%; color: white;">Para ver el póster en formato PDF para impresión, haga click
      <u>
      <a href="{% static 'TestApp/archivos/programa.pdf'%}" target="_blank" style="color: white;">AQUÍ</a>
      </u>
    </h3>
</center>

  <div><p></p></div>

 {% endblock %}