{% extends "TestApp/base.html" %}

 {% load static %}

 {% block content %}
   <html>
      <body>

         <div><p></p></div>
         
         <section class="page-section clearfix">
            <div class="container" style="margin-top: -1.3cm;">
               <div class="intro">
                  <div class="intro-text left-0 text-left bg-faded p-4 rounded" style="margin-top: 0cm; margin-left: -2cm;">
                     <div style="font-weight: bold; font-size: 150%;">
                        Centro de las Artes de la Universidad de Sonora<br />
                        Ubicado en: Blvd. Luis Donaldo Colosio y Rosales S/N <br />
                        Colonia Centro <br />
                        Hermosillo, Sonora <br />
                     <a href="https://goo.gl/maps/muocjqEYp8YSUs1p6" target="_blank" style="color: black;">Ver en Google Maps</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3486.814738923721!2d-110.96154618495328!3d29.081618982242823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ce84491ead1bcf%3A0xfdb274fba98a7049!2sCentro%20de%20las%20Artes%20Unison!5e0!3m2!1ses!2smx!4v1666635438505!5m2!1ses!2smx" 
               width="600" 
               height="450" 
               style="border:0; margin-left: 100px;"
               allowfullscreen="" 
               loading="lazy" 
               referrerpolicy="no-referrer-when-downgrade">
         </iframe>
         
      <div><p></p></div>
   </body>
</html>


 {% endblock %}